body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    z-index: 10;
    background: rgb(56, 53, 53);
    margin: 0;
    /* opacity: ; */
}

header .logo {
    position: relative;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

header .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
    /* opacity: 0.5; */
    text-align: center;
}

header .navigation li {
    list-style: none;
    margin: 0 20px;
    /* opacity: 0.5; */
}

header .navigation li a {
    text-decoration: none;
    color: rgb(254, 254, 254);
    font-weight: 300;
    /* letter-spacing: 1px; */
}

header .navigation li a:hover {
    color: #fc7341;
}
.box{
    
}