@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: normal 100% Arial, sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    /* line-height: 2.15;
    -webkit-text-size-adjust: 100%; */
}

li {
    list-style: none;
    display: inline;
}

a {
    text-decoration: none;
}

.header {
    /* border-bottom: 1px solid #E2E8F0; */
    /* border: none;
    height: 1.45rem;
    padding: 0.46rem; */
    /* color: #475569; */
    /* background-color: #3d3a3a; */
    /* opacity: 0.5; */
    background-color: rgba(6, 10, 6, 0.76);
    border-top: 1px solid hsla(0, 0%, 100%, .3);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #f8f9f9;
}

.nav-link:hover {
    color: #f35337;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: rgba(6, 10, 6, 0.76);
        width: 100%;
        /* border-radius: 10px; */
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}