@font-face {
  font-family: "iconfont"; /* Project id 4090210 */
  src: url('iconfont.woff2?t=1685281085012') format('woff2'),
       url('iconfont.woff?t=1685281085012') format('woff'),
       url('iconfont.ttf?t=1685281085012') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fukuan:before {
  content: "\e672";
}

.icon-saoyisao:before {
  content: "\e6b2";
}

.icon-wodejifenbao:before {
  content: "\e6db";
}

.icon-pengyou:before {
  content: "\e61c";
}

.icon-zhifupingtai-zhifubao:before {
  content: "\e613";
}

.icon-koubei:before {
  content: "\fe5b";
}

.icon-jipiao:before {
  content: "\e61b";
}

.icon-qinmifu:before {
  content: "\e62b";
}

.icon-youxichongzhi:before {
  content: "\e638";
}

.icon--zhuanzhang:before {
  content: "\e60a";
}

.icon-travel:before {
  content: "\e60e";
}

.icon-taobao:before {
  content: "\e60f";
}

.icon-waimai:before {
  content: "\fac1";
}

.icon-shoujichongzhi:before {
  content: "\100e8";
}

.icon-kuaidiwaimai:before {
  content: "\e62d";
}

.icon-zhangdan:before {
  content: "\e653";
}

.icon-37:before {
  content: "\e622";
}

.icon-wenjianjia1:before {
  content: "\ec17";
}

.icon-qianbao1:before {
  content: "\e6b1";
}

.icon-dingweidaka:before {
  content: "\e752";
}

.icon-woderenwu:before {
  content: "\e753";
}

.icon-gerenxinxi:before {
  content: "\e754";
}

.icon-kpi:before {
  content: "\e755";
}

.icon-wodexiangmu:before {
  content: "\e756";
}

.icon-areachart:before {
  content: "\ebc7";
}

.icon-31sousuo:before {
  content: "\e600";
}

.icon-jisuanqi:before {
  content: "\e66b";
}

.icon-gerentouxiang:before {
  content: "\eb24";
}

.icon-qianbao:before {
  content: "\e61a";
}

.icon-wenjianjia:before {
  content: "\e65c";
}

.icon-jiahao:before {
  content: "\e611";
}

